.navbar{
    width: 100%;
    height: 80px;
    background-color: #fef4f4;
   
}
.navbar ul{
    display: flex;
    margin-left: 200px;
 }
 
 .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 15px 45px 0px 45px;
  
 }
 .navbar ul li a{
     text-decoration: none;
     font-weight: 600;
     font-size: 23px;
     color: rgb(94, 90, 90);
    
 }
 .navbar ul li a:visited {
     color: rgb(94, 90, 90);
 }
 .navbar ul li a:hover{
     color:#F57D58;
 }
 .dropBtn {
    background: none;
    color: rgb(41, 38, 38);
    font-size: 23px;
    border: none;
    font-size: 20px;
  }
 .dropBtn a{
    font-weight: 600;
    font-size: 23px;
    text-decoration: none;
    color: rgb(94, 90, 90);
}
.dropBtn a:hover{
    cursor: pointer;
    color:#F57D58;
}

.dropdownNav-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 250px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdownNav-content a span {
    color: black;
   
}
.dropdownNav-content a {
    color: #F57D58;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px !important;

  }

.dropdownNav:hover .dropdownNav-content {
    border-bottom: 2px solid #F57D58 ;
    display: block;
  }

  
@media screen and (max-width:1200px) {

    .navbar {
    
      width: 50vw;
      height: 25vh;
    }
    .navbar ul li {
        width: 40vw;
        height: 15vw;
    }
}

@media screen and (max-width:1200px) {

    .navbar {
      width: 30vw;
      height: 20vh;
    }
    .navbar ul li {
        width: 20vw;
        height: 10vw;
    }
}

