.container h3{
    margin: 20px;
}
#emptyCart a{
    text-decoration: none;
    color: black;
   
}

.card{
    width: 240px;
    height: auto;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
}
.card > h6{
    margin-top: 10px;
    height: 30px;
    margin-left: 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card > img {
    margin-left: 10px;
    border-radius: 5px;
    width: 215px;
    height: 300px;
}
.card > span {
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}